body, html {
    background-color: #ddf1fe;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    min-width: 15vw;
    max-width: 200px;
}

pre{
    padding: 30px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #4a6099;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #394970;
    cursor: pointer;
}
